@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Import KML", "ImportKML");
</br>
@Html.ActionLink("Import JSON Game Data", "ImportJSONGameData");
</br>
@Html.ActionLink("Heat Map", "HeatMap1");
</br>
@Html.ActionLink("Passing Chord Diagram", "PassingChordDiagram");